<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-3">
        <div class="jumbotron text-center">
            <img src="{{ url_for('static', filename='tomm.jpeg') }}" alt="Logo" style="height:30px;">
            <h3>Rakshit Sarkheliya - 112755</h3>
            <h3>CSE 6332 - Quiz - 2 </h3>
        </div>
    </div>
    <nav class="navbar navbar-expand navbar-dark bg-dark">
        <div class="container">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" href="/latrange">latrange data</a></li>
                <li class="nav-item"><a class="nav-link" href="/net-operation">net operation data</a></li>
                <li class="nav-item"><a class="nav-link" href=" /create-entry">create new data</a></li>
                <li class="nav-item"><a class="nav-link" href=" /modify-entry">update data</a></li>
              
            </ul>
        </div>
    </nav>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
